<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.kwai.mapper.KwaiOrderMapper">

    <resultMap id="BaseResultMap" type="com.qihang.kwai.domain.KwaiOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="oid" column="oid" jdbcType="BIGINT"/>
            <result property="createtime" column="createTime" jdbcType="BIGINT"/>
            <result property="discountfee" column="discountFee" jdbcType="DECIMAL"/>
            <result property="expressfee" column="expressFee" jdbcType="DECIMAL"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="consignee" column="consignee" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="paytime" column="payTime" jdbcType="BIGINT"/>
            <result property="buyerremark" column="buyerRemark" jdbcType="VARCHAR"/>
            <result property="sellerremark" column="sellerRemark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="refund" column="refund" jdbcType="INTEGER"/>
            <result property="totalfee" column="totalFee" jdbcType="DECIMAL"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="district" column="district" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="logisticscompany" column="logisticsCompany" jdbcType="VARCHAR"/>
            <result property="logisticscompanycode" column="logisticsCompanyCode" jdbcType="VARCHAR"/>
            <result property="logisticscode" column="logisticsCode" jdbcType="VARCHAR"/>
            <result property="auditstatus" column="auditStatus" jdbcType="INTEGER"/>
            <result property="createon" column="createOn" jdbcType="BIGINT"/>
            <result property="sendstatus" column="sendStatus" jdbcType="INTEGER"/>
            <result property="sendtime" column="sendTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,oid,createTime,
        discountFee,expressFee,num,
        consignee,mobile,payTime,
        buyerRemark,sellerRemark,status,
        refund,totalFee,province,
        city,district,address,
        logisticsCompany,logisticsCompanyCode,logisticsCode,
        auditStatus,createOn,sendStatus,
        sendTime
    </sql>
</mapper>
