<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.open.kwai.mapper.KwaiOrdersItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.open.kwai.domain.KwaiOrdersItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="itemid" column="itemId" jdbcType="BIGINT"/>
            <result property="orderid" column="orderId" jdbcType="BIGINT"/>
            <result property="erpgoodsid" column="erpGoodsId" jdbcType="INTEGER"/>
            <result property="erpgoodsspecid" column="erpGoodsSpecId" jdbcType="INTEGER"/>
            <result property="itemtitle" column="itemTitle" jdbcType="VARCHAR"/>
            <result property="itempicurl" column="itemPicUrl" jdbcType="VARCHAR"/>
            <result property="goodsnum" column="goodsNum" jdbcType="VARCHAR"/>
            <result property="goodsspec" column="goodsSpec" jdbcType="VARCHAR"/>
            <result property="skunick" column="skuNick" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="refundid" column="refundId" jdbcType="BIGINT"/>
            <result property="refundstatus" column="refundStatus" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isgift" column="isGift" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,itemId,orderId,
        erpGoodsId,erpGoodsSpecId,itemTitle,
        itemPicUrl,goodsNum,goodsSpec,
        skuNick,price,num,
        refundId,refundStatus,remark,
        isGift
    </sql>
</mapper>
