<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.open.jd.mapper.OmsJdGoodsMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.open.jd.domain.OmsJdGoods">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="wareId" column="ware_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="wareStatus" column="ware_status" jdbcType="INTEGER"/>
            <result property="outerId" column="outer_id" jdbcType="VARCHAR"/>
            <result property="itemNum" column="item_num" jdbcType="VARCHAR"/>
            <result property="barCode" column="bar_code" jdbcType="VARCHAR"/>
            <result property="modified" column="modified" jdbcType="VARCHAR"/>
            <result property="created" column="created" jdbcType="VARCHAR"/>
            <result property="offlineTime" column="offline_time" jdbcType="TIMESTAMP"/>
            <result property="onlineTime" column="online_time" jdbcType="TIMESTAMP"/>
            <result property="delivery" column="delivery" jdbcType="VARCHAR"/>
            <result property="packListing" column="pack_listing" jdbcType="VARCHAR"/>
            <result property="wrap" column="wrap" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="FLOAT"/>
            <result property="width" column="width" jdbcType="INTEGER"/>
            <result property="height" column="height" jdbcType="INTEGER"/>
            <result property="length" column="length" jdbcType="INTEGER"/>
            <result property="mobileDesc" column="mobile_desc" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="afterSales" column="after_sales" jdbcType="VARCHAR"/>
            <result property="logo" column="logo" jdbcType="VARCHAR"/>
            <result property="marketPrice" column="market_price" jdbcType="DECIMAL"/>
            <result property="costPrice" column="cost_price" jdbcType="DECIMAL"/>
            <result property="jdPrice" column="jd_price" jdbcType="DECIMAL"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="stockNum" column="stock_num" jdbcType="INTEGER"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="sellPoint" column="sell_point" jdbcType="VARCHAR"/>
            <result property="afterSaleDesc" column="after_sale_desc" jdbcType="VARCHAR"/>
            <result property="spuId" column="spu_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ware_id,title,
        ware_status,outer_id,item_num,
        bar_code,modified,created,
        offline_time,online_time,delivery,
        pack_listing,wrap,weight,
        width,height,length,
        mobile_desc,introduction,after_sales,
        logo,market_price,cost_price,
        jd_price,brand_name,stock_num,
        shop_id,sell_point,after_sale_desc,
        spu_id
    </sql>
</mapper>
