<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.open.jd.mapper.OmsJdWaybillAccountMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.open.jd.domain.OmsJdWaybillAccount">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="sellerId" column="seller_id" jdbcType="BIGINT"/>
            <result property="providerId" column="provider_id" jdbcType="INTEGER"/>
            <result property="providerCode" column="provider_code" jdbcType="VARCHAR"/>
            <result property="providerName" column="provider_name" jdbcType="VARCHAR"/>
            <result property="providerType" column="provider_type" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="INTEGER"/>
            <result property="supportCod" column="support_cod" jdbcType="VARCHAR"/>
            <result property="branchCode" column="branch_code" jdbcType="VARCHAR"/>
            <result property="branchName" column="branch_name" jdbcType="VARCHAR"/>
            <result property="settlementCode" column="settlement_code" jdbcType="VARCHAR"/>
            <result property="provinceId" column="province_id" jdbcType="INTEGER"/>
            <result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
            <result property="cityId" column="city_id" jdbcType="INTEGER"/>
            <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
            <result property="countryId" column="country_id" jdbcType="INTEGER"/>
            <result property="countryName" column="country_name" jdbcType="VARCHAR"/>
            <result property="countrysideId" column="countryside_id" jdbcType="INTEGER"/>
            <result property="countrysideName" column="countryside_name" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="isShow" column="is_show" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,seller_id,
        provider_id,provider_code,provider_name,
        provider_type,amount,support_cod,
        branch_code,branch_name,settlement_code,
        province_id,province_name,city_id,
        city_name,country_id,country_name,
        countryside_id,countryside_name,address,
        name,mobile,phone,
        is_show
    </sql>
</mapper>
