<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.open.tao.mapper.OmsTaoWaybillAccountMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.open.tao.domain.OmsTaoWaybillAccount">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="cpCode" column="cp_code" jdbcType="VARCHAR"/>
            <result property="cpType" column="cp_type" jdbcType="INTEGER"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="sellerId" column="seller_id" jdbcType="BIGINT"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="allocatedQuantity" column="allocated_quantity" jdbcType="INTEGER"/>
            <result property="branchCode" column="branch_code" jdbcType="VARCHAR"/>
            <result property="branchName" column="branch_name" jdbcType="VARCHAR"/>
            <result property="printQuantity" column="print_quantity" jdbcType="INTEGER"/>
            <result property="cancelQuantity" column="cancel_quantity" jdbcType="INTEGER"/>
            <result property="waybillAddressId" column="waybill_address_id" jdbcType="BIGINT"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="area" column="area" jdbcType="VARCHAR"/>
            <result property="addressDetail" column="address_detail" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="isShow" column="is_show" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cp_code,cp_type,shop_id,branch_name,
        seller_id,quantity,allocated_quantity,
        branch_code,print_quantity,cancel_quantity,
        waybill_address_id,province,city,`name`,mobile,phone
        area,address_detail,is_show
    </sql>
</mapper>
