<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.jd.mapper.JdOrderMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.jd.domain.JdOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="venderId" column="vender_id" jdbcType="VARCHAR"/>
            <result property="orderType" column="order_type" jdbcType="VARCHAR"/>
            <result property="payType" column="pay_type" jdbcType="VARCHAR"/>
            <result property="orderTotalPrice" column="order_total_price" jdbcType="VARCHAR"/>
            <result property="orderSellerPrice" column="order_seller_price" jdbcType="VARCHAR"/>
            <result property="orderPayment" column="order_payment" jdbcType="VARCHAR"/>
            <result property="freightPrice" column="freight_price" jdbcType="VARCHAR"/>
            <result property="sellerDiscount" column="seller_discount" jdbcType="VARCHAR"/>
            <result property="orderState" column="order_state" jdbcType="VARCHAR"/>
            <result property="orderStateRemark" column="order_state_remark" jdbcType="VARCHAR"/>
            <result property="deliveryType" column="delivery_type" jdbcType="VARCHAR"/>
            <result property="invoiceInfo" column="invoice_info" jdbcType="VARCHAR"/>
            <result property="invoiceCode" column="invoice_code" jdbcType="VARCHAR"/>
            <result property="orderRemark" column="order_remark" jdbcType="VARCHAR"/>
            <result property="orderStartTime" column="order_start_time" jdbcType="VARCHAR"/>
            <result property="orderEndTime" column="order_end_time" jdbcType="VARCHAR"/>
            <result property="fullname" column="fullname" jdbcType="VARCHAR"/>
            <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="fullAddress" column="full_address" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="county" column="county" jdbcType="VARCHAR"/>
            <result property="town" column="town" jdbcType="VARCHAR"/>
            <result property="provinceId" column="province_id" jdbcType="VARCHAR"/>
            <result property="cityId" column="city_id" jdbcType="INTEGER"/>
            <result property="countyId" column="county_id" jdbcType="INTEGER"/>
            <result property="townId" column="town_id" jdbcType="INTEGER"/>
            <result property="venderRemark" column="vender_remark" jdbcType="VARCHAR"/>
            <result property="balanceUsed" column="balance_used" jdbcType="VARCHAR"/>
            <result property="pin" column="pin" jdbcType="VARCHAR"/>
            <result property="returnOrder" column="return_order" jdbcType="VARCHAR"/>
            <result property="paymentConfirmTime" column="payment_confirm_time" jdbcType="VARCHAR"/>
            <result property="waybill" column="waybill" jdbcType="VARCHAR"/>
            <result property="logisticsId" column="logistics_id" jdbcType="VARCHAR"/>
            <result property="modified" column="modified" jdbcType="VARCHAR"/>
            <result property="directParentOrderId" column="direct_parent_order_id" jdbcType="VARCHAR"/>
            <result property="parentOrderId" column="parent_order_id" jdbcType="VARCHAR"/>
            <result property="orderSource" column="order_source" jdbcType="VARCHAR"/>
            <result property="storeOrder" column="store_order" jdbcType="VARCHAR"/>
            <result property="idSopShipmenttype" column="id_sop_shipmenttype" jdbcType="VARCHAR"/>
            <result property="realPin" column="real_pin" jdbcType="VARCHAR"/>
            <result property="openId" column="open_id" jdbcType="VARCHAR"/>
            <result property="openIdBuyer" column="open_id_buyer" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,order_id,
        vender_id,order_type,pay_type,
        order_total_price,order_seller_price,order_payment,
        freight_price,seller_discount,order_state,
        order_state_remark,delivery_type,invoice_info,
        invoice_code,order_remark,order_start_time,
        order_end_time,fullname,telephone,
        mobile,full_address,province,
        city,county,town,
        province_id,city_id,county_id,
        town_id,vender_remark,balance_used,
        pin,return_order,payment_confirm_time,
        waybill,logistics_id,modified,
        direct_parent_order_id,parent_order_id,order_source,
        store_order,id_sop_shipmenttype,real_pin,
        open_id,open_id_buyer,create_time
    </sql>
</mapper>
