<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.jd.mapper.JdRefundMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.jd.domain.JdRefund">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="applyId" column="apply_id" jdbcType="BIGINT"/>
            <result property="serviceId" column="service_id" jdbcType="BIGINT"/>
            <result property="refundId" column="refund_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
            <result property="applyRefundSum" column="apply_refund_sum" jdbcType="DOUBLE"/>
            <result property="customerExpect" column="customer_expect" jdbcType="INTEGER"/>
            <result property="customerExpectName" column="customer_expect_name" jdbcType="VARCHAR"/>
            <result property="serviceStatus" column="service_status" jdbcType="INTEGER"/>
            <result property="serviceStatusName" column="service_status_name" jdbcType="VARCHAR"/>
            <result property="customerPin" column="customer_pin" jdbcType="VARCHAR"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="customerTel" column="customer_tel" jdbcType="VARCHAR"/>
            <result property="pickwareAddress" column="pickware_address" jdbcType="VARCHAR"/>
            <result property="pickwareType" column="pickware_type" jdbcType="INTEGER"/>
            <result property="orderType" column="order_type" jdbcType="INTEGER"/>
            <result property="orderTypeName" column="order_type_name" jdbcType="VARCHAR"/>
            <result property="actualPayPrice" column="actual_pay_price" jdbcType="DECIMAL"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="wareId" column="ware_id" jdbcType="BIGINT"/>
            <result property="wareType" column="ware_type" jdbcType="INTEGER"/>
            <result property="wareTypeName" column="ware_type_name" jdbcType="VARCHAR"/>
            <result property="wareName" column="ware_name" jdbcType="VARCHAR"/>
            <result property="skuType" column="sku_type" jdbcType="INTEGER"/>
            <result property="skuTypeName" column="sku_type_name" jdbcType="VARCHAR"/>
            <result property="approvePin" column="approve_pin" jdbcType="VARCHAR"/>
            <result property="approveName" column="approve_name" jdbcType="VARCHAR"/>
            <result property="approveTime" column="approve_time" jdbcType="TIMESTAMP"/>
            <result property="approveResult" column="approve_result" jdbcType="INTEGER"/>
            <result property="approveResultName" column="approve_result_name" jdbcType="VARCHAR"/>
            <result property="processPin" column="process_pin" jdbcType="VARCHAR"/>
            <result property="processName" column="process_name" jdbcType="VARCHAR"/>
            <result property="processTime" column="process_time" jdbcType="TIMESTAMP"/>
            <result property="processResult" column="process_result" jdbcType="INTEGER"/>
            <result property="processResultName" column="process_result_name" jdbcType="VARCHAR"/>
            <result property="platformSrc" column="platform_src" jdbcType="INTEGER"/>
            <result property="platformSrcName" column="platform_src_name" jdbcType="VARCHAR"/>
            <result property="serviceCount" column="service_count" jdbcType="INTEGER"/>
            <result property="desenCustomerTel" column="desen_customer_tel" jdbcType="VARCHAR"/>
            <result property="buyerId" column="buyer_id" jdbcType="VARCHAR"/>
            <result property="buyerName" column="buyer_name" jdbcType="VARCHAR"/>
            <result property="refundCheckTime" column="refund_check_time" jdbcType="VARCHAR"/>
            <result property="refundStatus" column="refund_status" jdbcType="INTEGER"/>
            <result property="refundCheckUsername" column="refund_check_username" jdbcType="VARCHAR"/>
            <result property="refundCheckRemark" column="refund_check_remark" jdbcType="VARCHAR"/>
            <result property="refundReason" column="refund_reason" jdbcType="VARCHAR"/>
            <result property="refundSystemId" column="refund_system_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="refundCompleteTime" column="refund_complete_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="oGoodsId" column="o_goods_id" jdbcType="BIGINT"/>
            <result property="oGoodsSkuId" column="o_goods_sku_id" jdbcType="BIGINT"/>
            <result property="skuList" column="sku_list" jdbcType="VARCHAR"/>
            <result property="approveNotes" column="approve_notes" jdbcType="VARCHAR"/>
            <result property="questionDesc" column="question_desc" jdbcType="VARCHAR"/>
            <result property="skuCount" column="sku_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,apply_id,
        service_id,refund_id,order_id,
        apply_time,apply_refund_sum,customer_expect,
        customer_expect_name,service_status,service_status_name,
        customer_pin,customer_name,customer_tel,
        pickware_address,pickware_type,order_type,
        order_type_name,actual_pay_price,sku_id,ware_id,
        ware_type,ware_type_name,ware_name,
        sku_type,sku_type_name,approve_pin,
        approve_name,approve_time,approve_result,
        approve_result_name,process_pin,process_name,
        process_time,process_result,process_result_name,
        platform_src,platform_src_name,service_count,
        desen_customer_tel,buyer_id,buyer_name,
        refund_check_time,refund_status,refund_check_username,refund_complete_time,
        refund_check_remark,refund_reason,refund_system_id,
        create_time,create_by,update_by,
        update_time,o_goods_id,o_goods_sku_id,
        sku_list,sku_count
    </sql>
</mapper>
