<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.wei.mapper.OmsWeiRefundMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.wei.domain.OmsWeiRefund">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="afterSaleOrderId" column="after_sale_order_id" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="unionid" column="unionid" jdbcType="VARCHAR"/>
            <result property="productId" column="product_id" jdbcType="VARCHAR"/>
            <result property="skuId" column="sku_id" jdbcType="VARCHAR"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="fastRefund" column="fast_refund" jdbcType="VARCHAR"/>
            <result property="refundReason" column="refund_reason" jdbcType="INTEGER"/>
            <result property="refundAmount" column="refund_amount" jdbcType="INTEGER"/>
            <result property="returnWaybillId" column="return_waybill_id" jdbcType="VARCHAR"/>
            <result property="returnDeliveryId" column="return_delivery_id" jdbcType="VARCHAR"/>
            <result property="returnDeliveryName" column="return_delivery_name" jdbcType="VARCHAR"/>
            <result property="merchantUploadInfo" column="merchant_upload_info" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="reasonText" column="reason_text" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="details" column="details" jdbcType="VARCHAR"/>
            <result property="complaintId" column="complaint_id" jdbcType="VARCHAR"/>
            <result property="refundResp" column="refund_resp" jdbcType="VARCHAR"/>
            <result property="pullStatus" column="pull_status" jdbcType="INTEGER"/>
            <result property="pullTime" column="pull_time" jdbcType="TIMESTAMP"/>
            <result property="oGoodsId" column="o_goods_id" jdbcType="BIGINT"/>
            <result property="oGoodsSkuId" column="o_goods_sku_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,after_sale_order_id,
        status,openid,unionid,
        product_id,sku_id,count,
        fast_refund,refund_reason,refund_amount,
        return_waybill_id,return_delivery_id,return_delivery_name,
        merchant_upload_info,create_time,update_time,
        reason,reason_text,type,
        order_id,details,complaint_id,
        refund_resp,pull_status,pull_time,
        o_goods_id,o_goods_sku_id
    </sql>
</mapper>
