<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.wei.mapper.OmsWeiOrderMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.wei.domain.OmsWeiOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
            <result property="unionid" column="unionid" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="aftersaleDetail" column="aftersale_detail" jdbcType="VARCHAR"/>
            <result property="payInfo" column="pay_info" jdbcType="VARCHAR"/>
            <result property="productPrice" column="product_price" jdbcType="INTEGER"/>
            <result property="orderPrice" column="order_price" jdbcType="INTEGER"/>
            <result property="freight" column="freight" jdbcType="INTEGER"/>
            <result property="discountedPrice" column="discounted_price" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="postalCode" column="postal_code" jdbcType="VARCHAR"/>
            <result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
            <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
            <result property="countyName" column="county_name" jdbcType="VARCHAR"/>
            <result property="detailInfo" column="detail_info" jdbcType="VARCHAR"/>
            <result property="telNumber" column="tel_number" jdbcType="VARCHAR"/>
            <result property="houseNumber" column="house_number" jdbcType="VARCHAR"/>
            <result property="virtualOrderTelNumber" column="virtual_order_tel_number" jdbcType="VARCHAR"/>
            <result property="telNumberExtInfo" column="tel_number_ext_info" jdbcType="VARCHAR"/>
            <result property="useTelNumber" column="use_tel_number" jdbcType="INTEGER"/>
            <result property="hashCode" column="hash_code" jdbcType="VARCHAR"/>
            <result property="deliveryProductInfo" column="delivery_product_info" jdbcType="VARCHAR"/>
            <result property="shipDoneTime" column="ship_done_time" jdbcType="INTEGER"/>
            <result property="ewaybillOrderCode" column="ewaybill_order_code" jdbcType="VARCHAR"/>
            <result property="settleInfo" column="settle_info" jdbcType="VARCHAR"/>
            <result property="auditStatus" column="audit_status" jdbcType="INTEGER"/>
            <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
            <result property="erpSendCompany" column="erp_send_company" jdbcType="VARCHAR"/>
            <result property="erpSendCode" column="erp_send_code" jdbcType="VARCHAR"/>
            <result property="erpSendStatus" column="erp_send_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,order_id,
        openid,create_time,update_time,
        unionid,status,aftersale_detail,
        pay_info,product_price,order_price,
        freight,discounted_price,user_name,
        postal_code,province_name,city_name,
        county_name,detail_info,tel_number,
        house_number,virtual_order_tel_number,tel_number_ext_info,
        use_tel_number,hash_code,delivery_product_info,
        ship_done_time,ewaybill_order_code,settle_info,
        audit_status,audit_time,erp_send_company,
        erp_send_code,erp_send_status
    </sql>
</mapper>
