<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.wei.mapper.OmsWeiWaybillAccountMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.wei.domain.OmsWeiWaybillAccount">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="sellerShopId" column="seller_shop_id" jdbcType="BIGINT"/>
            <result property="deliveryId" column="delivery_id" jdbcType="VARCHAR"/>
            <result property="companyType" column="company_type" jdbcType="INTEGER"/>
            <result property="siteCode" column="site_code" jdbcType="VARCHAR"/>
            <result property="siteName" column="site_name" jdbcType="VARCHAR"/>
            <result property="acctId" column="acct_id" jdbcType="BIGINT"/>
            <result property="acctType" column="acct_type" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="available" column="available" jdbcType="INTEGER"/>
            <result property="allocated" column="allocated" jdbcType="INTEGER"/>
            <result property="cancel" column="cancel" jdbcType="INTEGER"/>
            <result property="recycled" column="recycled" jdbcType="INTEGER"/>
            <result property="monthlyCard" column="monthly_card" jdbcType="VARCHAR"/>
            <result property="siteInfo" column="site_info" jdbcType="VARCHAR"/>
            <result property="senderProvince" column="sender_province" jdbcType="VARCHAR"/>
            <result property="senderCity" column="sender_city" jdbcType="VARCHAR"/>
            <result property="senderCounty" column="sender_county" jdbcType="VARCHAR"/>
            <result property="senderStreet" column="sender_street" jdbcType="VARCHAR"/>
            <result property="senderAddress" column="sender_address" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="isShow" column="is_show" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,seller_shop_id,
        delivery_id,company_type,site_code,
        site_name,acct_id,acct_type,
        status,available,allocated,
        cancel,recycled,monthly_card,
        site_info,sender_province,sender_city,
        sender_county,sender_street,sender_address,
        name,mobile,phone,
        is_show
    </sql>
</mapper>
