<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.wei.mapper.OmsWeiOrderItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.wei.domain.OmsWeiOrderItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="productId" column="product_id" jdbcType="VARCHAR"/>
            <result property="skuId" column="sku_id" jdbcType="VARCHAR"/>
            <result property="thumbImg" column="thumb_img" jdbcType="VARCHAR"/>
            <result property="skuCnt" column="sku_cnt" jdbcType="INTEGER"/>
            <result property="salePrice" column="sale_price" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="onAftersaleSkuCnt" column="on_aftersale_sku_cnt" jdbcType="INTEGER"/>
            <result property="finishAftersaleSkuCnt" column="finish_aftersale_sku_cnt" jdbcType="INTEGER"/>
            <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
            <result property="marketPrice" column="market_price" jdbcType="INTEGER"/>
            <result property="skuAttrs" column="sku_attrs" jdbcType="VARCHAR"/>
            <result property="realPrice" column="real_price" jdbcType="INTEGER"/>
            <result property="outProductId" column="out_product_id" jdbcType="VARCHAR"/>
            <result property="outSkuId" column="out_sku_id" jdbcType="VARCHAR"/>
            <result property="isDiscounted" column="is_discounted" jdbcType="VARCHAR"/>
            <result property="estimatePrice" column="estimate_price" jdbcType="INTEGER"/>
            <result property="isChangePrice" column="is_change_price" jdbcType="VARCHAR"/>
            <result property="changePrice" column="change_price" jdbcType="INTEGER"/>
            <result property="outWarehouseId" column="out_warehouse_id" jdbcType="VARCHAR"/>
            <result property="skuDeliverInfo" column="sku_deliver_info" jdbcType="VARCHAR"/>
            <result property="extraService" column="extra_service" jdbcType="VARCHAR"/>
            <result property="useDeduction" column="use_deduction" jdbcType="VARCHAR"/>
            <result property="deductionPrice" column="deduction_price" jdbcType="INTEGER"/>
            <result property="orderProductCouponInfoList" column="order_product_coupon_info_list" jdbcType="VARCHAR"/>
            <result property="oGoodsId" column="o_goods_id" jdbcType="BIGINT"/>
            <result property="oGoodsSkuId" column="o_goods_sku_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,order_id,
        product_id,sku_id,thumb_img,
        sku_cnt,sale_price,title,
        on_aftersale_sku_cnt,finish_aftersale_sku_cnt,sku_code,
        market_price,sku_attrs,real_price,
        out_product_id,out_sku_id,is_discounted,
        estimate_price,is_change_price,change_price,
        out_warehouse_id,sku_deliver_info,extra_service,
        use_deduction,deduction_price,order_product_coupon_info_list,
        o_goods_id,o_goods_sku_id
    </sql>
</mapper>
