<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.oms.mapper.ErpShipStockUpMapper">

    <resultMap id="BaseResultMap" type="com.qihang.oms.domain.ErpShipStockUp">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="saleOrderId" column="sale_order_id" jdbcType="BIGINT"/>
            <result property="saleOrderItemId" column="sale_order_item_id" jdbcType="BIGINT"/>
            <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
            <result property="originalSkuId" column="original_sku_id" jdbcType="VARCHAR"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="specId" column="spec_id" jdbcType="BIGINT"/>
            <result property="goodsTitle" column="goods_title" jdbcType="VARCHAR"/>
            <result property="goodsImg" column="goods_img" jdbcType="VARCHAR"/>
            <result property="goodsSpec" column="goods_spec" jdbcType="VARCHAR"/>
            <result property="goodsNum" column="goods_num" jdbcType="VARCHAR"/>
            <result property="specNum" column="spec_num" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sale_order_id,sale_order_item_id,shop_id,
        order_num,original_sku_id,goods_id,
        spec_id,goods_title,goods_img,
        goods_spec,goods_num,spec_num,
        quantity,status,create_time,
        create_by,update_time,update_by
    </sql>
</mapper>
