<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.oms.mapper.ErpShipWaybillMapper">

    <resultMap id="BaseResultMap" type="com.qihang.oms.domain.ErpShipWaybill">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="shopType" column="shop_type" jdbcType="INTEGER"/>
            <result property="waybillCode" column="waybill_code" jdbcType="VARCHAR"/>
            <result property="logisticsCode" column="logistics_code" jdbcType="VARCHAR"/>
            <result property="printData" column="print_data" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,shop_id,
        shop_type,waybill_code,logistics_code,
        print_data,status,create_time,
        create_by,update_time,update_by
    </sql>
</mapper>
