<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.oms.mapper.OmsDouGoodsSkuMapper">

    <resultMap id="BaseResultMap" type="com.qihang.oms.domain.OmsDouGoodsSku">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="specId" column="spec_id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="skuType" column="sku_type" jdbcType="INTEGER"/>
            <result property="skuStatus" column="sku_status" jdbcType="VARCHAR"/>
            <result property="outSkuId" column="out_sku_id" jdbcType="BIGINT"/>
            <result property="specDetailId1" column="spec_detail_id1" jdbcType="BIGINT"/>
            <result property="specDetailId2" column="spec_detail_id2" jdbcType="BIGINT"/>
            <result property="specDetailId3" column="spec_detail_id3" jdbcType="BIGINT"/>
            <result property="specDetailName1" column="spec_detail_name1" jdbcType="VARCHAR"/>
            <result property="specDetailName2" column="spec_detail_name2" jdbcType="VARCHAR"/>
            <result property="specDetailName3" column="spec_detail_name3" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="INTEGER"/>
            <result property="stockNum" column="stock_num" jdbcType="INTEGER"/>
            <result property="preholdStockNum" column="prehold_stock_num" jdbcType="INTEGER"/>
            <result property="promStockNum" column="prom_stock_num" jdbcType="INTEGER"/>
            <result property="stepStockNum" column="step_stock_num" jdbcType="INTEGER"/>
            <result property="preholdStepStockNum" column="prehold_step_stock_num" jdbcType="INTEGER"/>
            <result property="promStepStockNum" column="prom_step_stock_num" jdbcType="INTEGER"/>
            <result property="normalStockNum" column="normal_stock_num" jdbcType="INTEGER"/>
            <result property="channelStockNum" column="channel_stock_num" jdbcType="INTEGER"/>
            <result property="sellProperties" column="sell_properties" jdbcType="VARCHAR"/>
            <result property="erpGoodsId" column="erp_goods_id" jdbcType="BIGINT"/>
            <result property="erpGoodsSkuId" column="erp_goods_sku_id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,spec_id,
        code,sku_type,sku_status,
        out_sku_id,spec_detail_id1,spec_detail_id2,
        spec_detail_id3,spec_detail_name1,spec_detail_name2,
        spec_detail_name3,price,create_time,
        stock_num,prehold_stock_num,prom_stock_num,
        step_stock_num,prehold_step_stock_num,prom_step_stock_num,
        normal_stock_num,channel_stock_num,sell_properties,
        erp_goods_id,erp_goods_sku_id,shop_id,
        name,img
    </sql>
</mapper>
