<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.oms.mapper.OmsPddOrderItemMapper">

    <resultMap id="BaseResultMap" type="com.qihang.oms.domain.OmsPddOrderItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderSn" column="order_sn" jdbcType="VARCHAR"/>
            <result property="erpGoodsId" column="erp_goods_id" jdbcType="INTEGER"/>
            <result property="erpSpecId" column="erp_spec_id" jdbcType="INTEGER"/>
            <result property="goodId" column="good_id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsImg" column="goods_img" jdbcType="VARCHAR"/>
            <result property="goodsSpec" column="goods_spec" jdbcType="VARCHAR"/>
            <result property="goodsPrice" column="goods_price" jdbcType="DOUBLE"/>
            <result property="outerGoodsId" column="outer_goods_id" jdbcType="VARCHAR"/>
            <result property="outerId" column="outer_id" jdbcType="VARCHAR"/>
            <result property="goodsCount" column="goods_count" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="itemAmount" column="item_amount" jdbcType="DOUBLE"/>
            <result property="isGift" column="is_gift" jdbcType="TINYINT"/>
            <result property="refundCount" column="refund_count" jdbcType="INTEGER"/>
            <result property="refundStatus" column="refund_status" jdbcType="INTEGER"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,order_sn,
        erp_goods_id,erp_spec_id,good_id,
        sku_id,goods_name,goods_img,
        goods_spec,goods_price,outer_goods_id,
        outer_id,goods_count,remark,
        item_amount,is_gift,refund_count,
        refund_status,shop_id,create_time,
        update_time
    </sql>
</mapper>
