<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.oms.mapper.OmsTaoOrderMapper">

    <resultMap id="BaseResultMap" type="com.qihang.oms.domain.OmsTaoOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="tid" column="tid" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="sellerFlag" column="seller_flag" jdbcType="VARCHAR"/>
            <result property="hasBuyerMessage" column="has_buyer_message" jdbcType="VARCHAR"/>
            <result property="creditCardFee" column="credit_card_fee" jdbcType="VARCHAR"/>
            <result property="stepTradeStatus" column="step_trade_status" jdbcType="VARCHAR"/>
            <result property="stepPaidFee" column="step_paid_fee" jdbcType="VARCHAR"/>
            <result property="buyerOpenUid" column="buyer_open_uid" jdbcType="VARCHAR"/>
            <result property="markDesc" column="mark_desc" jdbcType="VARCHAR"/>
            <result property="buyerNick" column="buyer_nick" jdbcType="VARCHAR"/>
            <result property="numIid" column="num_iid" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="FLOAT"/>
            <result property="totalFee" column="total_fee" jdbcType="FLOAT"/>
            <result property="adjustFee" column="adjust_fee" jdbcType="FLOAT"/>
            <result property="postFee" column="post_fee" jdbcType="DECIMAL"/>
            <result property="discountFee" column="discount_fee" jdbcType="DECIMAL"/>
            <result property="payment" column="payment" jdbcType="DECIMAL"/>
            <result property="receivedPayment" column="received_payment" jdbcType="DECIMAL"/>
            <result property="availableConfirmFee" column="available_confirm_fee" jdbcType="FLOAT"/>
            <result property="codFee" column="cod_fee" jdbcType="FLOAT"/>
            <result property="codStatus" column="cod_status" jdbcType="VARCHAR"/>
            <result property="buyerCodFee" column="buyer_cod_fee" jdbcType="VARCHAR"/>
            <result property="sellerCodFee" column="seller_cod_fee" jdbcType="VARCHAR"/>
            <result property="expressAgencyFee" column="express_agency_fee" jdbcType="VARCHAR"/>
            <result property="commissionFee" column="commission_fee" jdbcType="FLOAT"/>
            <result property="shippingType" column="shipping_type" jdbcType="VARCHAR"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="modified" column="modified" jdbcType="TIMESTAMP"/>
            <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
            <result property="consignTime" column="consign_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="sellerMemo" column="seller_memo" jdbcType="VARCHAR"/>
            <result property="buyerMemo" column="buyer_memo" jdbcType="VARCHAR"/>
            <result property="buyerMessage" column="buyer_message" jdbcType="VARCHAR"/>
            <result property="pointFee" column="point_fee" jdbcType="VARCHAR"/>
            <result property="realPointFee" column="real_point_fee" jdbcType="VARCHAR"/>
            <result property="buyerObtainPointFee" column="buyer_obtain_point_fee" jdbcType="VARCHAR"/>
            <result property="receivingTime" column="receiving_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="tradeMemo" column="trade_memo" jdbcType="VARCHAR"/>
            <result property="erpSendCompany" column="erp_send_company" jdbcType="VARCHAR"/>
            <result property="erpSendCode" column="erp_send_code" jdbcType="VARCHAR"/>
            <result property="erpSendStatus" column="erp_send_status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="oaid" column="oaid" jdbcType="VARCHAR"/>
            <result property="aid" column="aid" jdbcType="VARCHAR"/>
            <result property="receiverCountry" column="receiver_country" jdbcType="VARCHAR"/>
            <result property="receiverState" column="receiver_state" jdbcType="VARCHAR"/>
            <result property="receiverCity" column="receiver_city" jdbcType="VARCHAR"/>
            <result property="receiverDistrict" column="receiver_district" jdbcType="VARCHAR"/>
            <result property="receiverTown" column="receiver_town" jdbcType="VARCHAR"/>
            <result property="receiverAddress" column="receiver_address" jdbcType="VARCHAR"/>
            <result property="receiverZip" column="receiver_zip" jdbcType="VARCHAR"/>
            <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
            <result property="receiverMobile" column="receiver_mobile" jdbcType="VARCHAR"/>
            <result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
            <result property="sellerRate" column="seller_rate" jdbcType="VARCHAR"/>
            <result property="sellerNick" column="seller_nick" jdbcType="VARCHAR"/>
            <result property="buyerRate" column="buyer_rate" jdbcType="VARCHAR"/>
            <result property="buyerArea" column="buyer_area" jdbcType="VARCHAR"/>
            <result property="alipayNo" column="alipay_no" jdbcType="VARCHAR"/>
            <result property="buyerAlipayNo" column="buyer_alipay_no" jdbcType="VARCHAR"/>
            <result property="buyerEmail" column="buyer_email" jdbcType="VARCHAR"/>
            <result property="sellerAlipayNo" column="seller_alipay_no" jdbcType="VARCHAR"/>
            <result property="hasPostFee" column="has_post_fee" jdbcType="VARCHAR"/>
            <result property="timeoutActionTime" column="timeout_action_time" jdbcType="VARCHAR"/>
            <result property="snapshotUrl" column="snapshot_url" jdbcType="VARCHAR"/>
            <result property="promotion" column="promotion" jdbcType="VARCHAR"/>
            <result property="yfxFee" column="yfx_fee" jdbcType="VARCHAR"/>
            <result property="hasYfx" column="has_yfx" jdbcType="VARCHAR"/>
            <result property="sendTime" column="send_time" jdbcType="VARCHAR"/>
            <result property="isPartConsign" column="is_part_consign" jdbcType="VARCHAR"/>
            <result property="sid" column="sid" jdbcType="VARCHAR"/>
            <result property="tmallCouponFee" column="tmall_coupon_fee" jdbcType="BIGINT"/>
            <result property="auditStatus" column="audit_status" jdbcType="INTEGER"/>
            <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,tid,
        title,type,seller_flag,
        has_buyer_message,credit_card_fee,step_trade_status,
        step_paid_fee,buyer_open_uid,mark_desc,
        buyer_nick,num_iid,num,
        price,total_fee,adjust_fee,
        post_fee,discount_fee,payment,
        received_payment,available_confirm_fee,cod_fee,
        cod_status,buyer_cod_fee,seller_cod_fee,
        express_agency_fee,commission_fee,shipping_type,
        created,modified,pay_time,
        consign_time,end_time,seller_memo,
        buyer_memo,buyer_message,point_fee,
        real_point_fee,buyer_obtain_point_fee,receiving_time,
        status,trade_memo,erp_send_company,
        erp_send_code,erp_send_status,create_time,
        update_time,update_by,oaid,
        aid,receiver_country,receiver_state,
        receiver_city,receiver_district,receiver_town,
        receiver_address,receiver_zip,receiver_name,
        receiver_mobile,receiver_phone,seller_rate,
        seller_nick,buyer_rate,buyer_area,
        alipay_no,buyer_alipay_no,buyer_email,
        seller_alipay_no,has_post_fee,timeout_action_time,
        snapshot_url,promotion,yfx_fee,
        has_yfx,send_time,is_part_consign,
        sid,tmall_coupon_fee,audit_status,
        audit_time
    </sql>
</mapper>
