<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.oms.mapper.SShopMapper">

    <resultMap id="BaseResultMap" type="com.qihang.oms.domain.SShop">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="ename" column="ename" jdbcType="VARCHAR"/>
            <result property="company" column="company" jdbcType="VARCHAR"/>
            <result property="platform" column="platform" jdbcType="INTEGER"/>
            <result property="shopUrl" column="shop_url" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="sellerShopId" column="seller_shop_id" jdbcType="BIGINT"/>
            <result property="appKey" column="app_key" jdbcType="VARCHAR"/>
            <result property="appSercet" column="app_sercet" jdbcType="VARCHAR"/>
            <result property="accessToken" column="access_token" jdbcType="VARCHAR"/>
            <result property="accessExpiresIn" column="access_expires_in" jdbcType="BIGINT"/>
            <result property="accessTokenBegin" column="access_token_begin" jdbcType="BIGINT"/>
            <result property="refreshToken" column="refresh_token" jdbcType="VARCHAR"/>
            <result property="refreshTokenTimeout" column="refresh_token_timeout" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,nick_name,
        ename,company,platform,
        shop_url,order_num,is_delete,
        remark,seller_shop_id,app_key,
        app_sercet,access_token,access_expires_in,
        access_token_begin,refresh_token,refresh_token_timeout,
        create_time,update_time
    </sql>
</mapper>
