<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.oms.mapper.SShopSettingMapper">

    <resultMap id="BaseResultMap" type="com.qihang.oms.domain.SShopSetting">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="appKey" column="app_key" jdbcType="VARCHAR"/>
            <result property="appSecret" column="app_secret" jdbcType="VARCHAR"/>
            <result property="accessToken" column="access_token" jdbcType="VARCHAR"/>
            <result property="expiresIn" column="expires_in" jdbcType="BIGINT"/>
            <result property="accessTokenBegin" column="access_token_begin" jdbcType="BIGINT"/>
            <result property="refreshToken" column="refresh_token" jdbcType="VARCHAR"/>
            <result property="refreshTokenTimeout" column="refresh_token_timeout" jdbcType="BIGINT"/>
            <result property="modifyOn" column="modify_on" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="requestUrl" column="request_url" jdbcType="VARCHAR"/>
            <result property="thirdId" column="third_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,app_key,
        app_secret,access_token,expires_in,
        access_token_begin,refresh_token,refresh_token_timeout,
        modify_on,remark,request_url,
        third_id
    </sql>
</mapper>
