<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.oms.mapper.SysLogisticsCompanyMapper">

    <resultMap id="BaseResultMap" type="com.qihang.oms.domain.SysLogisticsCompany">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="platformId" column="platform_id" jdbcType="INTEGER"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="logisticsId" column="logistics_id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,platform_id,shop_id,
        logistics_id,code,name,
        remark
    </sql>
</mapper>
