<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.dou.mapper.DouOrderMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.dou.domain.DouOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="orderLevel" column="order_level" jdbcType="INTEGER"/>
            <result property="orderPhaseList" column="order_phase_list" jdbcType="VARCHAR"/>
            <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
            <result property="orderStatusDesc" column="order_status_desc" jdbcType="VARCHAR"/>
            <result property="orderTag" column="order_tag" jdbcType="VARCHAR"/>
            <result property="orderType" column="order_type" jdbcType="INTEGER"/>
            <result property="orderTypeDesc" column="order_type_desc" jdbcType="VARCHAR"/>
            <result property="appId" column="app_id" jdbcType="INTEGER"/>
            <result property="openId" column="open_id" jdbcType="VARCHAR"/>
            <result property="acceptOrderStatus" column="accept_order_status" jdbcType="INTEGER"/>
            <result property="appointmentShipTime" column="appointment_ship_time" jdbcType="INTEGER"/>
            <result property="authorCostAmount" column="author_cost_amount" jdbcType="INTEGER"/>
            <result property="awemeId" column="aweme_id" jdbcType="VARCHAR"/>
            <result property="bType" column="b_type" jdbcType="INTEGER"/>
            <result property="bTypeDesc" column="b_type_desc" jdbcType="VARCHAR"/>
            <result property="subBType" column="sub_b_type" jdbcType="INTEGER"/>
            <result property="subBTypeDesc" column="sub_b_type_desc" jdbcType="VARCHAR"/>
            <result property="biz" column="biz" jdbcType="INTEGER"/>
            <result property="bizDesc" column="biz_desc" jdbcType="VARCHAR"/>
            <result property="buyerWords" column="buyer_words" jdbcType="VARCHAR"/>
            <result property="sellerWords" column="seller_words" jdbcType="VARCHAR"/>
            <result property="sellerRemarkStars" column="seller_remark_stars" jdbcType="INTEGER"/>
            <result property="cancelReason" column="cancel_reason" jdbcType="VARCHAR"/>
            <result property="channelPaymentNo" column="channel_payment_no" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="INTEGER"/>
            <result property="payTime" column="pay_time" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
            <result property="finishTime" column="finish_time" jdbcType="INTEGER"/>
            <result property="orderExpireTime" column="order_expire_time" jdbcType="INTEGER"/>
            <result property="doudianOpenId" column="doudian_open_id" jdbcType="VARCHAR"/>
            <result property="encryptPostReceiver" column="encrypt_post_receiver" jdbcType="VARCHAR"/>
            <result property="encryptPostTel" column="encrypt_post_tel" jdbcType="VARCHAR"/>
            <result property="encryptPostAddress" column="encrypt_post_address" jdbcType="VARCHAR"/>
            <result property="expShipTime" column="exp_ship_time" jdbcType="INTEGER"/>
            <result property="logisticsInfo" column="logistics_info" jdbcType="VARCHAR"/>
            <result property="mainStatus" column="main_status" jdbcType="INTEGER"/>
            <result property="mainStatusDesc" column="main_status_desc" jdbcType="VARCHAR"/>
            <result property="maskPostReceiver" column="mask_post_receiver" jdbcType="VARCHAR"/>
            <result property="maskPostTel" column="mask_post_tel" jdbcType="VARCHAR"/>
            <result property="maskPostAddress" column="mask_post_address" jdbcType="VARCHAR"/>
            <result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
            <result property="provinceId" column="province_id" jdbcType="VARCHAR"/>
            <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
            <result property="cityId" column="city_id" jdbcType="VARCHAR"/>
            <result property="townName" column="town_name" jdbcType="VARCHAR"/>
            <result property="townId" column="town_id" jdbcType="VARCHAR"/>
            <result property="streetName" column="street_name" jdbcType="VARCHAR"/>
            <result property="streetId" column="street_id" jdbcType="VARCHAR"/>
            <result property="openAddressId" column="open_address_id" jdbcType="VARCHAR"/>
            <result property="modifyAmount" column="modify_amount" jdbcType="INTEGER"/>
            <result property="modifyPostAmount" column="modify_post_amount" jdbcType="INTEGER"/>
            <result property="onlyPlatformCostAmount" column="only_platform_cost_amount" jdbcType="INTEGER"/>
            <result property="orderAmount" column="order_amount" jdbcType="INTEGER"/>
            <result property="payAmount" column="pay_amount" jdbcType="INTEGER"/>
            <result property="payType" column="pay_type" jdbcType="INTEGER"/>
            <result property="postAmount" column="post_amount" jdbcType="INTEGER"/>
            <result property="postInsuranceAmount" column="post_insurance_amount" jdbcType="INTEGER"/>
            <result property="postOriginAmount" column="post_origin_amount" jdbcType="INTEGER"/>
            <result property="postPromotionAmount" column="post_promotion_amount" jdbcType="INTEGER"/>
            <result property="promotionAmount" column="promotion_amount" jdbcType="INTEGER"/>
            <result property="promotionPayAmount" column="promotion_pay_amount" jdbcType="INTEGER"/>
            <result property="promotionPlatformAmount" column="promotion_platform_amount" jdbcType="INTEGER"/>
            <result property="promotionRedpackAmount" column="promotion_redpack_amount" jdbcType="INTEGER"/>
            <result property="promotionRedpackPlatformAmount" column="promotion_redpack_platform_amount" jdbcType="INTEGER"/>
            <result property="promotionRedpackTalentAmount" column="promotion_redpack_talent_amount" jdbcType="INTEGER"/>
            <result property="promotionShopAmount" column="promotion_shop_amount" jdbcType="INTEGER"/>
            <result property="promotionTalentAmount" column="promotion_talent_amount" jdbcType="INTEGER"/>
            <result property="shipTime" column="ship_time" jdbcType="INTEGER"/>
            <result property="shopCostAmount" column="shop_cost_amount" jdbcType="INTEGER"/>
            <result property="platformCostAmount" column="platform_cost_amount" jdbcType="INTEGER"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="shopName" column="shop_name" jdbcType="VARCHAR"/>
            <result property="totalPromotionAmount" column="total_promotion_amount" jdbcType="INTEGER"/>
            <result property="userTagUi" column="user_tag_ui" jdbcType="VARCHAR"/>
            <result property="sShopId" column="s_shop_id" jdbcType="INTEGER"/>
            <result property="pullTime" column="pull_time" jdbcType="TIMESTAMP"/>
            <result property="lastPullTime" column="last_pull_time" jdbcType="TIMESTAMP"/>
            <result property="auditStatus" column="audit_status" jdbcType="INTEGER"/>
            <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,order_level,
        order_phase_list,order_status,order_status_desc,
        order_tag,order_type,order_type_desc,
        app_id,open_id,accept_order_status,
        appointment_ship_time,author_cost_amount,aweme_id,
        b_type,b_type_desc,sub_b_type,
        sub_b_type_desc,biz,biz_desc,
        buyer_words,seller_words,seller_remark_stars,
        cancel_reason,channel_payment_no,create_time,
        pay_time,update_time,finish_time,
        order_expire_time,doudian_open_id,encrypt_post_receiver,
        encrypt_post_tel,encrypt_post_address,exp_ship_time,
        logistics_info,main_status,main_status_desc,
        mask_post_receiver,mask_post_tel,mask_post_address,
        province_name,province_id,city_name,
        city_id,town_name,town_id,
        street_name,street_id,open_address_id,
        modify_amount,modify_post_amount,only_platform_cost_amount,
        order_amount,pay_amount,pay_type,
        post_amount,post_insurance_amount,post_origin_amount,
        post_promotion_amount,promotion_amount,promotion_pay_amount,
        promotion_platform_amount,promotion_redpack_amount,promotion_redpack_platform_amount,
        promotion_redpack_talent_amount,promotion_shop_amount,promotion_talent_amount,
        ship_time,shop_cost_amount,platform_cost_amount,
        shop_id,shop_name,total_promotion_amount,
        user_tag_ui,s_shop_id,pull_time,
        last_pull_time,audit_status,audit_time
    </sql>
</mapper>
