<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.dou.mapper.DouOrderItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.dou.domain.DouOrderItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="parentOrderId" column="parent_order_id" jdbcType="VARCHAR"/>
            <result property="orderLevel" column="order_level" jdbcType="INTEGER"/>
            <result property="adEnvType" column="ad_env_type" jdbcType="VARCHAR"/>
            <result property="afterSaleStatus" column="after_sale_status" jdbcType="INTEGER"/>
            <result property="afterSaleType" column="after_sale_type" jdbcType="INTEGER"/>
            <result property="refundStatus" column="refund_status" jdbcType="INTEGER"/>
            <result property="authorCostAmount" column="author_cost_amount" jdbcType="INTEGER"/>
            <result property="authorId" column="author_id" jdbcType="INTEGER"/>
            <result property="authorName" column="author_name" jdbcType="VARCHAR"/>
            <result property="cBiz" column="c_biz" jdbcType="INTEGER"/>
            <result property="cBizDesc" column="c_biz_desc" jdbcType="VARCHAR"/>
            <result property="cancelReason" column="cancel_reason" jdbcType="VARCHAR"/>
            <result property="channelPaymentNo" column="channel_payment_no" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="confirmReceiptTime" column="confirm_receipt_time" jdbcType="INTEGER"/>
            <result property="finishTime" column="finish_time" jdbcType="INTEGER"/>
            <result property="goodsPrice" column="goods_price" jdbcType="INTEGER"/>
            <result property="goodsType" column="goods_type" jdbcType="INTEGER"/>
            <result property="isComment" column="is_comment" jdbcType="INTEGER"/>
            <result property="itemNum" column="item_num" jdbcType="INTEGER"/>
            <result property="logisticsReceiptTime" column="logistics_receipt_time" jdbcType="INTEGER"/>
            <result property="modifyAmount" column="modify_amount" jdbcType="INTEGER"/>
            <result property="modifyPostAmount" column="modify_post_amount" jdbcType="INTEGER"/>
            <result property="onlyPlatformCostAmount" column="only_platform_cost_amount" jdbcType="INTEGER"/>
            <result property="orderAmount" column="order_amount" jdbcType="INTEGER"/>
            <result property="payAmount" column="pay_amount" jdbcType="INTEGER"/>
            <result property="postInsuranceAmount" column="post_insurance_amount" jdbcType="INTEGER"/>
            <result property="promotionAmount" column="promotion_amount" jdbcType="INTEGER"/>
            <result property="promotionShopAmount" column="promotion_shop_amount" jdbcType="INTEGER"/>
            <result property="promotionPlatformAmount" column="promotion_platform_amount" jdbcType="INTEGER"/>
            <result property="shopCostAmount" column="shop_cost_amount" jdbcType="INTEGER"/>
            <result property="platformCostAmount" column="platform_cost_amount" jdbcType="INTEGER"/>
            <result property="promotionTalentAmount" column="promotion_talent_amount" jdbcType="INTEGER"/>
            <result property="promotionPayAmount" column="promotion_pay_amount" jdbcType="INTEGER"/>
            <result property="originAmount" column="origin_amount" jdbcType="INTEGER"/>
            <result property="outProductId" column="out_product_id" jdbcType="VARCHAR"/>
            <result property="outSkuId" column="out_sku_id" jdbcType="VARCHAR"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productPic" column="product_pic" jdbcType="VARCHAR"/>
            <result property="promotionRedpackAmount" column="promotion_redpack_amount" jdbcType="INTEGER"/>
            <result property="promotionRedpackPlatformAmount" column="promotion_redpack_platform_amount" jdbcType="INTEGER"/>
            <result property="promotionRedpackTalentAmount" column="promotion_redpack_talent_amount" jdbcType="INTEGER"/>
            <result property="roomId" column="room_id" jdbcType="INTEGER"/>
            <result property="shipTime" column="ship_time" jdbcType="INTEGER"/>
            <result property="spec" column="spec" jdbcType="VARCHAR"/>
            <result property="themeTypeDesc" column="theme_type_desc" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="INTEGER"/>
            <result property="videoId" column="video_id" jdbcType="VARCHAR"/>
            <result property="oGoodsId" column="o_goods_id" jdbcType="VARCHAR"/>
            <result property="oGoodsSkuId" column="o_goods_sku_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,parent_order_id,o_goods_sku_id,o_goods_id,
        order_level,ad_env_type,after_sale_status,
        after_sale_type,refund_status,author_cost_amount,
        author_id,author_name,c_biz,
        c_biz_desc,cancel_reason,channel_payment_no,
        code,confirm_receipt_time,finish_time,
        goods_price,goods_type,is_comment,
        item_num,logistics_receipt_time,modify_amount,
        modify_post_amount,only_platform_cost_amount,order_amount,
        pay_amount,post_insurance_amount,promotion_amount,
        promotion_shop_amount,promotion_platform_amount,shop_cost_amount,
        platform_cost_amount,promotion_talent_amount,promotion_pay_amount,
        origin_amount,out_product_id,out_sku_id,
        product_id,sku_id,product_name,
        product_pic,promotion_redpack_amount,promotion_redpack_platform_amount,
        promotion_redpack_talent_amount,room_id,ship_time,
        spec,theme_type_desc,update_time,
        create_time,video_id
    </sql>
</mapper>
