<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.dou.mapper.DouRefundMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.dou.domain.DouRefund">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="aftersaleId" column="aftersale_id" jdbcType="BIGINT"/>
            <result property="aftersaleOrderType" column="aftersale_order_type" jdbcType="BIGINT"/>
            <result property="aftersaleType" column="aftersale_type" jdbcType="BIGINT"/>
            <result property="aftersaleStatus" column="aftersale_status" jdbcType="BIGINT"/>
            <result property="aftersaleStatusToFinalTime" column="aftersale_status_to_final_time" jdbcType="BIGINT"/>
            <result property="relatedId" column="related_id" jdbcType="VARCHAR"/>
            <result property="orderSkuOrderId" column="order_sku_order_id" jdbcType="VARCHAR"/>
            <result property="orderStatus" column="order_status" jdbcType="BIGINT"/>
            <result property="orderPayAmount" column="order_pay_amount" jdbcType="BIGINT"/>
            <result property="orderPostAmount" column="order_post_amount" jdbcType="BIGINT"/>
            <result property="orderItemNum" column="order_item_num" jdbcType="BIGINT"/>
            <result property="orderProductName" column="order_product_name" jdbcType="VARCHAR"/>
            <result property="orderProductImage" column="order_product_image" jdbcType="VARCHAR"/>
            <result property="orderProductId" column="order_product_id" jdbcType="VARCHAR"/>
            <result property="orderSkuSpec" column="order_sku_spec" jdbcType="VARCHAR"/>
            <result property="orderShopSkuCode" column="order_shop_sku_code" jdbcType="VARCHAR"/>
            <result property="applyTime" column="apply_time" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="BIGINT"/>
            <result property="statusDeadline" column="status_deadline" jdbcType="BIGINT"/>
            <result property="refundAmount" column="refund_amount" jdbcType="BIGINT"/>
            <result property="refundPostAmount" column="refund_post_amount" jdbcType="BIGINT"/>
            <result property="aftersaleNum" column="aftersale_num" jdbcType="BIGINT"/>
            <result property="partType" column="part_type" jdbcType="BIGINT"/>
            <result property="aftersaleRefundType" column="aftersale_refund_type" jdbcType="BIGINT"/>
            <result property="refundType" column="refund_type" jdbcType="BIGINT"/>
            <result property="arbitrateStatus" column="arbitrate_status" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="riskDecisionReason" column="risk_decision_reason" jdbcType="VARCHAR"/>
            <result property="riskDecisionDescription" column="risk_decision_description" jdbcType="VARCHAR"/>
            <result property="returnPromotionAmount" column="return_promotion_amount" jdbcType="BIGINT"/>
            <result property="refundStatus" column="refund_status" jdbcType="BIGINT"/>
            <result property="arbitrateBlame" column="arbitrate_blame" jdbcType="BIGINT"/>
            <result property="returnLogisticsCode" column="return_logistics_code" jdbcType="VARCHAR"/>
            <result property="returnLogisticsCompanyName" column="return_logistics_company_name" jdbcType="VARCHAR"/>
            <result property="exchangeSkuInfo" column="exchange_sku_info" jdbcType="VARCHAR"/>
            <result property="exchangeLogisticsCompanyName" column="exchange_logistics_company_name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="gotPkg" column="got_pkg" jdbcType="BIGINT"/>
            <result property="isAgreeRefuseSign" column="is_agree_refuse_sign" jdbcType="BIGINT"/>
            <result property="orderLogistics" column="order_logistics" jdbcType="VARCHAR"/>
            <result property="aftersaleTags" column="aftersale_tags" jdbcType="VARCHAR"/>
            <result property="aftersaleSubType" column="aftersale_sub_type" jdbcType="BIGINT"/>
            <result property="autoAuditBits" column="auto_audit_bits" jdbcType="VARCHAR"/>
            <result property="textPart" column="text_part" jdbcType="VARCHAR"/>
            <result property="relatedOrderInfo" column="related_order_info" jdbcType="VARCHAR"/>
            <result property="pullTime" column="pull_time" jdbcType="TIMESTAMP"/>
            <result property="skuId" column="sku_id" jdbcType="VARCHAR"/>
            <result property="oGoodsId" column="o_goods_id" jdbcType="VARCHAR"/>
            <result property="oGoodsSkuId" column="o_goods_sku_id" jdbcType="VARCHAR"/>
            <result property="pullLastTime" column="pull_last_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,aftersale_id,sku_id,o_goods_id,o_goods_sku_id,
        aftersale_order_type,aftersale_type,aftersale_status,
        aftersale_status_to_final_time,related_id,order_sku_order_id,
        order_status,order_pay_amount,order_post_amount,
        order_item_num,order_product_name,order_product_image,
        order_product_id,order_sku_spec,order_shop_sku_code,
        apply_time,update_time,status_deadline,
        refund_amount,refund_post_amount,aftersale_num,
        part_type,aftersale_refund_type,refund_type,
        arbitrate_status,create_time,risk_decision_reason,
        risk_decision_description,return_promotion_amount,refund_status,
        arbitrate_blame,return_logistics_code,return_logistics_company_name,
        exchange_sku_info,exchange_logistics_company_name,remark,
        got_pkg,is_agree_refuse_sign,order_logistics,
        aftersale_tags,aftersale_sub_type,auto_audit_bits,
        text_part,related_order_info,pull_time,
        pull_last_time
    </sql>
</mapper>
