<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.tao.mapper.TaoGoodsMapper">

    <resultMap id="BaseResultMap" type="com.qihang.tao.domain.TaoGoods">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="iid" column="iid" jdbcType="VARCHAR"/>
            <result property="numIid" column="num_iid" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="nick" column="nick" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="cid" column="cid" jdbcType="BIGINT"/>
            <result property="sellerCids" column="seller_cids" jdbcType="VARCHAR"/>
            <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="props" column="props" jdbcType="VARCHAR"/>
            <result property="validThru" column="valid_thru" jdbcType="INTEGER"/>
            <result property="hasDiscount" column="has_discount" jdbcType="VARCHAR"/>
            <result property="hasInvoice" column="has_invoice" jdbcType="VARCHAR"/>
            <result property="hasWarranty" column="has_warranty" jdbcType="VARCHAR"/>
            <result property="hasShowcase" column="has_showcase" jdbcType="VARCHAR"/>
            <result property="modified" column="modified" jdbcType="TIMESTAMP"/>
            <result property="delistTime" column="delist_time" jdbcType="TIMESTAMP"/>
            <result property="postageId" column="postage_id" jdbcType="INTEGER"/>
            <result property="outerId" column="outer_id" jdbcType="VARCHAR"/>
            <result property="listTime" column="list_time" jdbcType="TIMESTAMP"/>
            <result property="price" column="price" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isEx" column="is_ex" jdbcType="VARCHAR"/>
            <result property="isVirtual" column="is_virtual" jdbcType="VARCHAR"/>
            <result property="isTaobao" column="is_taobao" jdbcType="VARCHAR"/>
            <result property="soldQuantity" column="sold_quantity" jdbcType="INTEGER"/>
            <result property="isCspu" column="is_cspu" jdbcType="VARCHAR"/>
            <result property="firstStartsTime" column="first_starts_time" jdbcType="TIMESTAMP"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="erpGoodsId" column="erp_goods_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,iid,num_iid,
        title,nick,type,
        cid,seller_cids,pic_url,
        num,props,valid_thru,
        has_discount,has_invoice,has_warranty,
        has_showcase,modified,delist_time,
        postage_id,outer_id,list_time,
        price,remark,is_ex,
        is_virtual,is_taobao,sold_quantity,
        is_cspu,first_starts_time,shop_id,
        erp_goods_id,create_time
    </sql>
</mapper>
