<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.wms.mapper.WmsStockOutItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.stock.domain.WmsStockOutItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="stockOutType" column="stock_out_type" jdbcType="INTEGER"/>
            <result property="entryId" column="entry_id" jdbcType="BIGINT"/>
            <result property="sourceOrderId" column="source_order_id" jdbcType="BIGINT"/>
            <result property="sourceOrderItemId" column="source_order_item_id" jdbcType="BIGINT"/>
            <result property="sourceOrderNum" column="source_order_num" jdbcType="VARCHAR"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="specId" column="spec_id" jdbcType="INTEGER"/>
            <result property="specNum" column="spec_num" jdbcType="VARCHAR"/>
            <result property="originalQuantity" column="original_quantity" jdbcType="BIGINT"/>
            <result property="outQuantity" column="out_quantity" jdbcType="BIGINT"/>
            <result property="completeTime" column="complete_time" jdbcType="TIMESTAMP"/>
            <result property="pickedTime" column="picked_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stock_out_type,entry_id,
        source_order_id,source_order_item_id,source_order_num,
        goods_id,spec_id,spec_num,
        original_quantity,out_quantity,complete_time,
        picked_time,status,create_time,
        update_time
    </sql>
</mapper>
