<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.wms.mapper.WmsStockInMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.stock.domain.WmsStockIn">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="stockInNum" column="stock_in_num" jdbcType="VARCHAR"/>
            <result property="stockInType" column="stock_in_type" jdbcType="INTEGER"/>
            <result property="sourceNo" column="source_no" jdbcType="VARCHAR"/>
            <result property="sourceId" column="source_id" jdbcType="BIGINT"/>
            <result property="sourceGoodsUnit" column="source_goods_unit" jdbcType="INTEGER"/>
            <result property="sourceSpecUnitTotal" column="source_spec_unit_total" jdbcType="INTEGER"/>
            <result property="sourceSpecUnit" column="source_spec_unit" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="stockInOperatorId" column="stock_in_operator_id" jdbcType="INTEGER"/>
            <result property="stockInOperator" column="stock_in_operator" jdbcType="VARCHAR"/>
            <result property="stockInTime" column="stock_in_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stock_in_num,stock_in_type,
        source_no,source_id,source_goods_unit,
        source_spec_unit_total,source_spec_unit,remark,
        stock_in_operator_id,stock_in_operator,stock_in_time,
        status,create_by,create_time,
        update_by,update_time
    </sql>
</mapper>
