<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.wei.mapper.OmsWeiGoodsMapper">

    <resultMap id="BaseResultMap" type="com.qihang.wei.domain.OmsWeiGoods">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="VARCHAR"/>
            <result property="outProductId" column="out_product_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="subTitle" column="sub_title" jdbcType="VARCHAR"/>
            <result property="headImgs" column="head_imgs" jdbcType="VARCHAR"/>
            <result property="headImg" column="head_img" jdbcType="VARCHAR"/>
            <result property="descInfo" column="desc_info" jdbcType="VARCHAR"/>
            <result property="attrs" column="attrs" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="editStatus" column="edit_status" jdbcType="INTEGER"/>
            <result property="minPrice" column="min_price" jdbcType="INTEGER"/>
            <result property="spuCode" column="spu_code" jdbcType="VARCHAR"/>
            <result property="productType" column="product_type" jdbcType="INTEGER"/>
            <result property="editTime" column="edit_time" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,product_id,
        out_product_id,title,sub_title,
        head_imgs,head_img,desc_info,
        attrs,status,edit_status,
        min_price,spu_code,product_type,
        edit_time
    </sql>
</mapper>
