<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.pdd.mapper.PddGoodsMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.pdd.domain.PddGoods">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsQuantity" column="goods_quantity" jdbcType="BIGINT"/>
            <result property="isMoreSku" column="is_more_sku" jdbcType="INTEGER"/>
            <result property="isOnsale" column="is_onsale" jdbcType="INTEGER"/>
            <result property="thumbUrl" column="thumb_url" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="oGoodsId" column="o_goods_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,goods_name,
        goods_quantity,is_more_sku,is_onsale,
        thumb_url,created_at,shop_id,
        o_goods_id,create_time,update_time
    </sql>
</mapper>
