<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.pdd.mapper.PddOrderMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.pdd.domain.PddOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="orderSn" column="order_sn" jdbcType="VARCHAR"/>
            <result property="tradeType" column="trade_type" jdbcType="INTEGER"/>
            <result property="freeSf" column="free_sf" jdbcType="INTEGER"/>
            <result property="isLuckyFlag" column="is_lucky_flag" jdbcType="INTEGER"/>
            <result property="groupStatus" column="group_status" jdbcType="INTEGER"/>
            <result property="confirmStatus" column="confirm_status" jdbcType="INTEGER"/>
            <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
            <result property="refundStatus" column="refund_status" jdbcType="INTEGER"/>
            <result property="capitalFreeDiscount" column="capital_free_discount" jdbcType="DOUBLE"/>
            <result property="sellerDiscount" column="seller_discount" jdbcType="DOUBLE"/>
            <result property="platformDiscount" column="platform_discount" jdbcType="DOUBLE"/>
            <result property="goodsAmount" column="goods_amount" jdbcType="DOUBLE"/>
            <result property="discountAmount" column="discount_amount" jdbcType="DOUBLE"/>
            <result property="payAmount" column="pay_amount" jdbcType="DOUBLE"/>
            <result property="duoDuoPayReduction" column="duo_duo_pay_reduction" jdbcType="DOUBLE"/>
            <result property="postage" column="postage" jdbcType="DOUBLE"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="remarkTag" column="remark_tag" jdbcType="INTEGER"/>
            <result property="remarkTagName" column="remark_tag_name" jdbcType="VARCHAR"/>
            <result property="buyerMemo" column="buyer_memo" jdbcType="VARCHAR"/>
            <result property="updatedAt" column="updated_at" jdbcType="VARCHAR"/>
            <result property="shippingTime" column="shipping_time" jdbcType="VARCHAR"/>
            <result property="trackingNumber" column="tracking_number" jdbcType="VARCHAR"/>
            <result property="trackingCompany" column="tracking_company" jdbcType="VARCHAR"/>
            <result property="payType" column="pay_type" jdbcType="VARCHAR"/>
            <result property="payNo" column="pay_no" jdbcType="VARCHAR"/>
            <result property="receiverAddress" column="receiver_address" jdbcType="VARCHAR"/>
            <result property="receiverAddressMask" column="receiver_address_mask" jdbcType="VARCHAR"/>
            <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
            <result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
            <result property="receiverPhoneMask" column="receiver_phone_mask" jdbcType="VARCHAR"/>
            <result property="receiverNameMask" column="receiver_name_mask" jdbcType="VARCHAR"/>
            <result property="addressMask" column="address_mask" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="town" column="town" jdbcType="VARCHAR"/>
            <result property="townId" column="town_id" jdbcType="INTEGER"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="cityId" column="city_id" jdbcType="INTEGER"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="provinceId" column="province_id" jdbcType="INTEGER"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="countryId" column="country_id" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="payTime" column="pay_time" jdbcType="VARCHAR"/>
            <result property="confirmTime" column="confirm_time" jdbcType="VARCHAR"/>
            <result property="receiveTime" column="receive_time" jdbcType="VARCHAR"/>
            <result property="afterSalesStatus" column="after_sales_status" jdbcType="INTEGER"/>
            <result property="lastShipTime" column="last_ship_time" jdbcType="VARCHAR"/>
            <result property="tag" column="tag" jdbcType="VARCHAR"/>
            <result property="deliveryOneDay" column="delivery_one_day" jdbcType="INTEGER"/>
            <result property="duoduoWholesale" column="duoduo_wholesale" jdbcType="INTEGER"/>
            <result property="homeDeliveryType" column="home_delivery_type" jdbcType="INTEGER"/>
            <result property="invoiceStatus" column="invoice_status" jdbcType="INTEGER"/>
            <result property="isPreSale" column="is_pre_sale" jdbcType="INTEGER"/>
            <result property="isStockOut" column="is_stock_out" jdbcType="INTEGER"/>
            <result property="logisticsId" column="logistics_id" jdbcType="BIGINT"/>
            <result property="mktBizType" column="mkt_biz_type" jdbcType="INTEGER"/>
            <result property="onlySupportReplace" column="only_support_replace" jdbcType="INTEGER"/>
            <result property="orderChangeAmount" column="order_change_amount" jdbcType="DOUBLE"/>
            <result property="preSaleTime" column="pre_sale_time" jdbcType="VARCHAR"/>
            <result property="returnFreightPayer" column="return_freight_payer" jdbcType="INTEGER"/>
            <result property="riskControlStatus" column="risk_control_status" jdbcType="INTEGER"/>
            <result property="urgeShippingTime" column="urge_shipping_time" jdbcType="VARCHAR"/>
            <result property="auditStatus" column="audit_status" jdbcType="INTEGER"/>
            <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,order_sn,
        trade_type,free_sf,is_lucky_flag,
        group_status,confirm_status,order_status,
        refund_status,capital_free_discount,seller_discount,
        platform_discount,goods_amount,discount_amount,duo_duo_pay_reduction,
        pay_amount,postage,remark,
        remark_tag,remark_tag_name,buyer_memo,
        updated_at,shipping_time,tracking_number,
        tracking_company,pay_type,pay_no,
        receiver_address,receiver_address_mask,receiver_name,
        receiver_phone,receiver_phone_mask,receiver_name_mask,
        address_mask,address,town,
        town_id,city,city_id,
        province,province_id,country,
        country_id,created_time,pay_time,
        confirm_time,receive_time,after_sales_status,
        last_ship_time,tag,delivery_one_day,
        duoduo_wholesale,home_delivery_type,invoice_status,
        is_pre_sale,is_stock_out,logistics_id,
        mkt_biz_type,only_support_replace,order_change_amount,
        pre_sale_time,return_freight_payer,risk_control_status,
        urge_shipping_time,audit_status,audit_time,
        create_time,update_time
    </sql>
</mapper>
