@model List<OrmContrast.Entity.hotelacc>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            @*@for (int i = 0; i < 10; i++)
            {
                <li>
                    <span>@Model[i].name</span>
                </li>
            }*@
        </ul>

    </div>
    <div class="row col-md-12">
        @Response.Headers.Get("extime")
    </div>
</body>
</html>
