<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.jd.mapper.SysShopPullLasttimeMapper">

    <resultMap id="BaseResultMap" type="com.qihang.jd.domain.SysShopPullLasttime">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="pullType" column="pull_type" jdbcType="OTHER"/>
            <result property="lasttime" column="lasttime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,pull_type,
        lasttime,create_time,update_time
    </sql>
</mapper>
