<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.tao.mapper.TaoOrderPromotionMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.tao.domain.TaoOrderPromotion">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="promotionName" column="promotion_name" jdbcType="VARCHAR"/>
            <result property="discountFee" column="discount_fee" jdbcType="VARCHAR"/>
            <result property="giftItemName" column="gift_item_name" jdbcType="VARCHAR"/>
            <result property="giftItemId" column="gift_item_id" jdbcType="VARCHAR"/>
            <result property="giftItemNum" column="gift_item_num" jdbcType="VARCHAR"/>
            <result property="promotionDesc" column="promotion_desc" jdbcType="VARCHAR"/>
            <result property="promotionId" column="promotion_id" jdbcType="VARCHAR"/>
            <result property="kdDiscountFee" column="kd_discount_fee" jdbcType="VARCHAR"/>
            <result property="kdChildDiscountFee" column="kd_child_discount_fee" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,promotion_name,discount_fee,
        gift_item_name,gift_item_id,gift_item_num,
        promotion_desc,promotion_id,kd_discount_fee,
        kd_child_discount_fee
    </sql>
</mapper>
