<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.tao.mapper.TaoOrderItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.tao.domain.TaoOrderItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tid" column="tid" jdbcType="BIGINT"/>
            <result property="oid" column="oid" jdbcType="BIGINT"/>
            <result property="totalFee" column="total_fee" jdbcType="DECIMAL"/>
            <result property="discountFee" column="discount_fee" jdbcType="DECIMAL"/>
            <result property="adjustFee" column="adjust_fee" jdbcType="DECIMAL"/>
            <result property="divideOrderFee" column="divide_order_fee" jdbcType="FLOAT"/>
            <result property="partMjzDiscount" column="part_mjz_discount" jdbcType="FLOAT"/>
            <result property="payment" column="payment" jdbcType="FLOAT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="picPath" column="pic_path" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="numIid" column="num_iid" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="outerIid" column="outer_iid" jdbcType="VARCHAR"/>
            <result property="outerSkuId" column="outer_sku_id" jdbcType="VARCHAR"/>
            <result property="skuPropertiesName" column="sku_properties_name" jdbcType="VARCHAR"/>
            <result property="itemMealId" column="item_meal_id" jdbcType="VARCHAR"/>
            <result property="itemMealName" column="item_meal_name" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="timeoutActionTime" column="timeout_action_time" jdbcType="TIMESTAMP"/>
            <result property="itemMemo" column="item_memo" jdbcType="VARCHAR"/>
            <result property="buyerRate" column="buyer_rate" jdbcType="VARCHAR"/>
            <result property="sellerRate" column="seller_rate" jdbcType="VARCHAR"/>
            <result property="sellerType" column="seller_type" jdbcType="VARCHAR"/>
            <result property="cid" column="cid" jdbcType="BIGINT"/>
            <result property="isOversold" column="is_oversold" jdbcType="VARCHAR"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="orderFrom" column="order_from" jdbcType="VARCHAR"/>
            <result property="isServiceOrder" column="is_service_order" jdbcType="VARCHAR"/>
            <result property="consignTime" column="consign_time" jdbcType="TIMESTAMP"/>
            <result property="shippingType" column="shipping_type" jdbcType="VARCHAR"/>
            <result property="logisticsCompany" column="logistics_company" jdbcType="VARCHAR"/>
            <result property="invoiceNo" column="invoice_no" jdbcType="VARCHAR"/>
            <result property="bindOid" column="bind_oid" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="refundStatus" column="refund_status" jdbcType="VARCHAR"/>
            <result property="refundId" column="refund_id" jdbcType="VARCHAR"/>
            <result property="oGoodsId" column="o_goods_id" jdbcType="VARCHAR"/>
            <result property="oGoodsSkuId" column="o_goods_sku_id" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tid,oid,
        total_fee,discount_fee,adjust_fee,
        divide_order_fee,part_mjz_discount,payment,
        title,pic_path,price,
        num_iid,sku_id,outer_iid,
        outer_sku_id,sku_properties_name,item_meal_id,
        item_meal_name,num,
        timeout_action_time,item_memo,buyer_rate,
        seller_rate,seller_type,cid,
        is_oversold,end_time,order_from,
        is_service_order,consign_time,shipping_type,
        logistics_company,invoice_no,bind_oid,
        status,refund_status,refund_id,o_goods_id,o_goods_sku_id,
        remark
    </sql>
</mapper>
