<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.tao.mapper.TaoRefundMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.tao.domain.TaoRefund">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="refundId" column="refund_id" jdbcType="VARCHAR"/>
            <result property="disputeType" column="dispute_type" jdbcType="VARCHAR"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="tid" column="tid" jdbcType="BIGINT"/>
            <result property="oid" column="oid" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="payment" column="payment" jdbcType="FLOAT"/>
            <result property="price" column="price" jdbcType="FLOAT"/>
            <result property="totalFee" column="total_fee" jdbcType="FLOAT"/>
            <result property="refundFee" column="refund_fee" jdbcType="FLOAT"/>
            <result property="splitSellerFee" column="split_seller_fee" jdbcType="FLOAT"/>
            <result property="splitTaobaoFee" column="split_taobao_fee" jdbcType="FLOAT"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="modified" column="modified" jdbcType="TIMESTAMP"/>
            <result property="sellerNick" column="seller_nick" jdbcType="VARCHAR"/>
            <result property="csStatus" column="cs_status" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="orderStatus" column="order_status" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="advanceStatus" column="advance_status" jdbcType="VARCHAR"/>
            <result property="alipayNo" column="alipay_no" jdbcType="VARCHAR"/>
            <result property="goodReturnTime" column="good_return_time" jdbcType="TIMESTAMP"/>
            <result property="goodStatus" column="good_status" jdbcType="VARCHAR"/>
            <result property="hasGoodReturn" column="has_good_return" jdbcType="INTEGER"/>
            <result property="numIid" column="num_iid" jdbcType="BIGINT"/>
            <result property="num" column="num" jdbcType="BIGINT"/>
            <result property="outerId" column="outer_id" jdbcType="VARCHAR"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="refundPhase" column="refund_phase" jdbcType="VARCHAR"/>
            <result property="shippingType" column="shipping_type" jdbcType="VARCHAR"/>
            <result property="desc1" column="desc1" jdbcType="VARCHAR"/>
            <result property="companyName" column="company_name" jdbcType="VARCHAR"/>
            <result property="sid" column="sid" jdbcType="VARCHAR"/>
            <result property="sendTime" column="send_time" jdbcType="VARCHAR"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="sku" column="sku" jdbcType="VARCHAR"/>
            <result property="buyerOpenUid" column="buyer_open_uid" jdbcType="VARCHAR"/>
            <result property="buyerNick" column="buyer_nick" jdbcType="VARCHAR"/>
            <result property="combineItemInfo" column="combine_item_info" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="oGoodsId" column="o_goods_id" jdbcType="BIGINT"/>
            <result property="oGoodsSkuId" column="o_goods_sku_id" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,refund_id,dispute_type,
        shop_id,tid,oid,sku_id,o_goods_id,o_goods_sku_id,
        payment,price,total_fee,
        refund_fee,split_seller_fee,split_taobao_fee,
        created,modified,seller_nick,
        cs_status,status,order_status,
        address,advance_status,alipay_no,
        good_return_time,good_status,has_good_return,
        num_iid,num,outer_id,
        reason,refund_phase,shipping_type,
        desc1,company_name,sid,
        send_time,end_time,title,
        sku,buyer_open_uid,buyer_nick,
        combine_item_info,create_time,create_by,
        update_by,update_time
    </sql>
</mapper>
