<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.goods.mapper.OGoodsInventoryBatchMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.goods.domain.OGoodsInventoryBatch">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="batchNum" column="batch_num" jdbcType="VARCHAR"/>
            <result property="originQty" column="origin_qty" jdbcType="BIGINT"/>
            <result property="currentQty" column="current_qty" jdbcType="BIGINT"/>
            <result property="purPrice" column="pur_price" jdbcType="DOUBLE"/>
            <result property="purId" column="pur_id" jdbcType="BIGINT"/>
            <result property="purItemId" column="pur_item_id" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
            <result property="warehouseId" column="warehouse_id" jdbcType="BIGINT"/>
            <result property="positionId" column="position_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,batch_num,origin_qty,
        current_qty,pur_price,pur_id,
        pur_item_id,remark,sku_id,
        goods_id,sku_code,warehouse_id,
        position_id,create_time,create_by,
        update_time,update_by
    </sql>
</mapper>
